/* Stylesheet for the 'Infnine Theme' Plone theme */
/*COLORS*/
/*#7696c1 - dark blue (body background)*/
/*#d7dbe4 - lite blue (body)*/

body {
    background-color: #7696c1;
    min-width: 1020px;
}

/* Header background */
#portal-header {
    background: #7696c1 url(++resource++infnine.theme.images/header.jpg) repeat-x;
    padding-top: 7px;
}

/* Logo */
#portal-logo img {
    margin: 0px;
}

/* Line below the logo */
#portal-header1 {
    background: #7696c1 url(++resource++infnine.theme.images/header1_bg.png) repeat-x;
    width: 100%;
}

/* Random picture in the top right corner */
#portal-header-pic {
    float: right;
    margin-top: -5px;
}

/* Centering */
#portal-columns-table-wrapper {
    margin-right: 10px;
/*     border: 1px solid black; */
/*     background-color: #d7dbe4; */
}

#portal-column-content {
    max-width: 600px;
    padding: 0px;
    margin: 0 auto;
    /*border: 1px solid black !important;*/
    /*border-right: none;*/
    background-color: #d7dbe4;
}

.center_aligned {
/*     text-align: center; */
    padding-left: auto;
    padding-right: auto;
}

#region-content {
    /*border: 1px black solid;*/
    border-right: none;
}

#fp_center {
    width: 620px;
    margin: 0 auto;
}

/*#right_column{
    border: 1px black solid;
    border-left: none;
}*/

#portal-column-two {
    /*border: 1px solid black;*/
    border-left: none;
    background-color: #d7dbe4;
}


/* Rounded corners */
#contentTopLeft {
    background: transparent url(++resource++infnine.theme.images/body_top_left.png) top left no-repeat;
    border: none;
    height: 13px;
    width: 13px;
    float: left;
}

#contentBottomRight {
    background: transparent url(++resource++infnine.theme.images/body_bottom_right.png) top left no-repeat;
    border: none;
    height: 14px;
    width: 14px;
    float: right;
    margin-top: -14px;
    margin-right: 0px;
}

/* Portlets */
.portlet {
    width: 182px!important;
    border-bottom: 0px;
    /*margin-left:-5px;*/
}

.portletNavigationTree{
    width: 146px!important;
}

/* Navigation portlet */
.navTreeItem a, dd.portletItem .navTreeItem a {
    border: none;
    color: #fff;
}

.portletNavigationTree .portletItem {
    background-color: #7696c1;
    border-top: 1px solid #d7dbe4;
    border-left: 1px solid #d7dbe4;
    border-right: 1px solid #d7dbe4;
    padding-bottom: 30px;
}

.portletNavigationTree .portletHeader {
    background: transparent url(++resource++infnine.theme.images/portlet_header.png) no-repeat;
    border: 0px;
    height: 48px!important;
}

.portletNavigationTree .portletHeader a {
    color: #fff;
    font-weight: bold;
    font-size: 10pt;
    padding-top: 28px;
}

.portletNavigationTree .portletBottomLeft {
    background: transparent url(++resource++infnine.theme.images/portlet_footer.png) top left no-repeat;
    position: absolute; 
    border: 0px;
    height: 48px;
    width: 146px;
    margin-top: 12px;
    margin-left: -12px;
    border-top: 1px solid #d7dbe4;
}

.navTreeItem a, dd.portletItem .navTreeItem a {
    border: none;
    font-weight: bold;
}

.navTreeCurrentItem {
    border: none !important;
    background-color: transparent;
    color: #fff !important;
}

.navTreeItem a:hover, dd.portletItem .navTreeItem a:hover {
    background-color: transparent;
    border: none;
    color: #fff;
}

/* Other portlets */
.portletHeader {
    border-bottom: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent;
    color: #7696c1;
    font-weight: bold;
    font-size: 10pt;
}

.portletHeader a {
    color: #7696c1;
    font-weight: bold;
    font-size: 10pt;
}

.portletHeader span {
    color: #7696c1;
    font-weight: bold;
    font-size: 10pt;
}

.portletItem {
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    background-color: transparent;
}

.portletFooter {
    background-color: transparent;
    border: none;
}

/* News portlet */
.portletItemDetails {
    color: #8CACBB;
    text-align: left;
   /* margin-top: -16px;*/
}

.portletNews .portletItem a {
    /*margin-top: -11px;*/
    font-weight: bold;
}

.portletItemDescription {
    text-align: justify;
}

.portletNews .portletHeader a {
    /*margin-left: -9px;*/
}

.portletNews .portletItem {
    padding-left: 0px;
    padding-right: 0px;
}

.readmore {
    font-weight: normal !important;
    text-align: right;
}

/* Footer */
#portal-footer1 {
    background: transparent url(++resource++infnine.theme.images/footer_bg.png) top left repeat-x;
}

#portal-footer {
    background-color: transparent;
    border: 0px;
    text-align: right;
    padding-right: 10px;
    margin: 0px;
}

/* First Page */
.first-page-projects {
    height: 186px;
    width: 311px;
}

#aspogamo1 { background: transparent url(++resource++infnine.data.images/aspogamo1.png) top left no-repeat; }
#aspogamo2 { background: transparent url(++resource++infnine.data.images/aspogamo2.png) top left no-repeat; }
#aspogamo3 { background: transparent url(++resource++infnine.data.images/aspogamo3.png) top left no-repeat; }
#aspogamo4 { background: transparent url(++resource++infnine.data.images/aspogamo4.png) top left no-repeat; }

#factory1 { background: transparent url(++resource++infnine.data.images/factory1.png) top left no-repeat; }
#factory2 { background: transparent url(++resource++infnine.data.images/factory2.png) top left no-repeat; }
#factory3 { background: transparent url(++resource++infnine.data.images/factory3.png) top left no-repeat; }

#kitchen1 { background: transparent url(++resource++infnine.data.images/kitchen1.png) top left no-repeat; }
#kitchen2 { background: transparent url(++resource++infnine.data.images/kitchen2.png) top left no-repeat; }
#kitchen3 { background: transparent url(++resource++infnine.data.images/kitchen3.png) top left no-repeat; }
#kitchen4 { background: transparent url(++resource++infnine.data.images/kitchen4.png) top left no-repeat; }
#kitchen5 { background: transparent url(++resource++infnine.data.images/kitchen5.png) top left no-repeat; }
#kitchen6 { background: transparent url(++resource++infnine.data.images/kitchen6.png) top left no-repeat; }
#kitchen7 { background: transparent url(++resource++infnine.data.images/kitchen7.png) top left no-repeat; }

#multijoint1 { background: transparent url(++resource++infnine.data.images/multijoint1.png) top left no-repeat; }
#multijoint2 { background: transparent url(++resource++infnine.data.images/multijoint2.png) top left no-repeat; }
#multijoint3 { background: transparent url(++resource++infnine.data.images/multijoint3.png) top left no-repeat; }
#multijoint4 { background: transparent url(++resource++infnine.data.images/multijoint4.png) top left no-repeat; }

#project_name1 {
    background: transparent url(++resource++infnine.theme.images/body1.png) top left no-repeat;
}

#project_name2 {
    background: transparent url(++resource++infnine.theme.images/body2.png) top left no-repeat;
}

#project_name3 {
    background: transparent url(++resource++infnine.theme.images/body3.png) top left no-repeat;
}

#project_name4 {
    background: transparent url(++resource++infnine.theme.images/body4.png) top left no-repeat;
}

#proj1 {
    position: absolute;
    margin-top: 150px;
    font-size: 14pt;
    color: #fff;
    width: 311px;
    text-align: center;
}

#proj2 {
    position: absolute;
    margin-top: 12px;
    font-size: 14pt;
    color: #fff;
    width: 311px;
    text-align: center;
}

.personphoto {
    margin-right: 20px;
}

.researchprojectlogo,
.researchprojectsummaryeven,
.researchprojectsummaryodd {
    width: 50%;
    padding-bottom: 30px;
    text-align: justify;
}

.researchprojectlogo {
    text-align: center;
}

#portal-column-one .visualPadding {
    padding: 2em 1em 1em 2em;
}

#portal-personaltools {
    background: none;
    border: none;
}

#portal-personaltools li a {
    color: #DEE7EC;
}
